td{
    border: none;
}

.custom-tooltip {
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid black;
    pointer-events: none;
    white-space: nowrap;
    z-index: 100;
  }